.left {
    float: left;
    width: 35%;
    border: 1px solid #000;
    min-width: 200px;
}
.right {
    float: right;
    width: 35%;
    border: 1px solid #000;
    min-width: 200px;
}
.contener {
    width: 60%;
    margin: 0 auto;
    clear: both;
}

.drop-contener {
    min-height: 50px;
}

.formGrup {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 3px;
}

.input {
    background: #FCEDF2;
}

.textarea {
    background: #EDEEFC;
}

.button {
    background: #EDFCF7;
}

.form-config {
    background: #F0FCED;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 3px;
}

h2 {
    padding: 5px;
    margin: 3px;
    font-size: 20px;
}

.output {
    width: 100%;
    padding: 0;
    min-height: 200px;
    margin: 0 auto;
}
