<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/style.css">
        
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/sortable.js"></script>
        
    </head>
    <body>
        <div ng-app="myApp" ng-controller="sortCrtl">
            <div class="contener">
                <div class="left">
                    <div class="form-config">
                        <h2>Form elements to choose</h2>
                    </div>
                    <div ui-sortable="sortableOptions" ng-model="sourceScreens">
                        <div ng-repeat="item in sourceScreens track by $index">
                            <div class="formGrup {{item.ownclass}}">
                                {{item.title}}
                            </div>
                        </div>
                    </div>
                    <div class="formGrup">
                        <h2>Output JSON</h2>
                        <div><textarea class="output">{{resultScreens}}</textarea></div>
                    </div>
                </div>
                <div class="right">
                    <div class="form-config">
                        <h2>Form</h2>
                    </div>
                    <div class="drop-contener connected-apps-container" ui-sortable="sortableOptions" ng-model="resultScreens">
                        <div ng-repeat="item in resultScreens track by $index">
                            <div class="formGrup {{item.ownclass}}" ng-if="item.type == 1 || item.type == 0">
                                <div class="form-row">
                                    <div class="title">{{item.title}}</div>
                                </div>                            
                                <div class="form-row">
                                    <div class="name">Name:</div> 
                                    <div class="form-element"><input type="text" name="name-{{ $index }}" value="{{ item.name }}" ng-model="item.name"></div>
                                </div>
                                <div class="form-row">
                                    <div class="placeholder">Placeholder:</div>
                                    <div class="form-element"><input type="text" name="placeholder-{{ $index }}" value="{{ item.placeholder }}" ng-model="item.placeholder"></div>
                                </div>
                                <div class="form-row">
                                    <div class="class">Class:</div>
                                    <div class="form-element"><input type="text" name="class-{{ $index }}" value="{{ item.class }}" ng-model="item.class"></div>
                                </div>
                                <div class="form-row">
                                    <button ng-click="removeElement($index)")>Remove element</button>
                                </div>
                            </div>
                            <div class="formGrup button" ng-if="item.type == 2">
                                <div class="form-row">
                                    <div class="title">{{item.title}}</div>
                                </div>                            
                                <div class="form-row">
                                    <div class="name">Name:</div> 
                                    <div class="form-element"><input type="text" name="name-{{ $index }}" value="{{ item.name }}" ng-model="item.name"></div>
                                </div>
                                <div class="form-row">
                                    <div class="placeholder">Formactio:</div>
                                    <div class="form-element"><input type="text" name="formaction-{{ $index }}" value="{{ item.formaction }}" ng-model="item.formaction"></div>
                                </div>
                                <div class="form-row">
                                    <div class="class">Class:</div>
                                    <div class="form-element"><input type="text" name="class-{{ $index }}" value="{{ item.class }}" ng-model="item.class"></div>
                                </div>
                                <div class="form-row">
                                    <button ng-click="removeElement($index)")>Remove element</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="js/wizard.js"></script>
    </body>
</html>
